{% block body %}
<style>
    .table-wrapper-wrapper { margin: 0.5em auto; max-width: 1000px; width: 100%; font: 15px/1.5 sans-serif; }
    .table-wrapper-wrapper { background: #f2f2f2; padding: 3px 3px; }
</style>

 {#  {{dump(orders)}}  #}

<div ><h3> My orders: </h3></div>

<div class="table-wrapper-wrapper">

			<table data-role="table" id="table-column-toggle" data-mode="columntoggle" class="ui-responsive table-stroke">
			
	     		<thead>
	       			<tr>
						<th> Order ID </th>
						<th> Date </th>
	         			{# <th> Customer </th> #}
	         			<th> Order details </th>
	         			<th> Total price </th>
	         			<th> Status </th>
	      			</tr>
	     		</thead>
	
				{% for order in orders %}
	
	     		<tbody>
	
	      			 <tr>
						<td>{{ order.id }}</td>
						<td>{{ order.date|date('d-m-Y') }}</td>
	        			{# <td>{{ order.placedby }}</td> #}
	        			<td>{{ order.ordered }}</td>
	         			<td>{{ order.orderPrice }}</td>
	         			<td>{{ order.status }}</td>
	       			</tr>

     			</tbody>
	
				{% endfor %}
				
   			</table>
</div>

{% endblock %}